<%include ../partials/header%>
<link rel="stylesheet" href="/css/cms.css">
<div id="New-form" class="member-form container">
    <div class="alert alert-primary" role="alert">
        <h6 class="text-center">You are now editing <%=member.name%>'s profile Don't forget to submit your
            changes
        </h6>
    </div>
    <form action="/ventureLabTeam/<%=member._id%>/?_method=PUT" method="POST" enctype="multipart/form-data">
        <div id="" class="center">
            <img class="" src="<%=member.image%>" alt="" srcset="">
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label for="imageFile">Upload another image</label>
                <input type="file" name="image" class="text-center form-control-file" id="imageFile">
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="form-group ">
                    <label for="inputName" class="form-label">Name</label>
                    <input type="text" name="name" class="form-control" id="inputName" value="<%=member.name%>">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group ">
                    <label for="inputRole" class="form-label">Role</label>
                    <input type="text" name="role" class="form-control" id="inputRole" value="<%=member.role%>">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group ">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="text" name="email" class="form-control" id="inputName" value="<%=member.email%>">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group ">
                    <label for="inputName" class="form-label">Publication Link</label>
                    <input type="text" name="publicationLink" class="form-control" id="inputName"
                        value="<%=member.publicationLink%>">
                </div>
            </div>
        </div>
        <div class="container">

            <button class="btn btn-outline-info"> SUBMIT</button>

        </div>
    </form>
    <div class="container">
        <div class="row">
            <!-- <div class="col-2"><a class="btn btn-outline-info" href="/ventureLabTeam">Back</a></div> -->
            <div class="col-2">
                <form action="/ventureLabTeam/<%=member._id%>/delete/?_method=DELETE" method="POST">
                    <input class="btn btn-outline-danger" type="submit" value="Delete <%= member.name%>">
                </form>
            </div>
        </div>
    </div>