<% include ../partials/header %>
<link rel="stylesheet" href="/css/team.css">
<div class="container">
    <div class="container proj-header bg-mustard ">
        <h1 class="text-center">Venture Lab Team</h1>
    </div>
    <p class="short-desc">Our research focuses on risk factors for youth substance misuse and mental health problems. We
        aim to
        understand why early onset substance use is so highly concurrent with other mental health concerns and
        future addiction. We also apply our research findings to develop new prevention approaches targeting
        identified risk profiles. We study environmental factors, genetic factors, and use computerized assessments
        and neuroimaging tools to measure functional brain development during the adolescent period. Our youth
        advisors assure that our research addresses issues and uses methods that are relevant and appropriate for
        youth.</p>
    <div class="row">
        <% members.map((member)=>{ %>
        <div class="col-md-6 col-lg-6 col-xl-4">
            <div class="">
                <!-- <div style="background: url(<%=member.image%>) center no-repeat;background-size: cover;"
                    class="card-img-top">
                </div> -->
                <img src="<%=member.image%>" alt="" srcset="">
                <h5 class=""><%=member.name%></h5>
                <p class=""><%=member.role%></p>
                <%if(member.url!=='') { %>
                <a href="<%=member.url%>" class="stretched-link"></a>
                <% }%>



            </div>
            <% })%>
        </div>
    </div>
</div>
<%include ../partials/footer%>